* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background: #141414;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.forms form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.forms form input {
  width: 250px;
  font-size: 18px;
  padding: 10px;
  border: none;
  outline: none;
}
.forms form input::placeholder {
  color: #000;
}
.forms form input[type="submit"] {
  color: #000;
  background: #05cdff;
  transition: all 0.1s linear;
  margin-top: 8px;
  cursor: pointer;
}
.forms form input[type="submit"]:hover {
  transform: scale(1.03);
}
.users-list .notification {
  color: #d9d9d9;
  font-size: 20px;
  margin-top: 30px;
}
.all-users {
  width: 100%;
  margin-top: 30px;
}
.one-user {
  font-family: 'Lucida Sans', sans-serif;
  color: #d9d9d9;
  font-size: 16px;
  border: 1px solid #05cdff;
  line-height: 24px;
  padding: 12px 24px;
  margin-top: 10px;
}
.one-user button {
  width: 100%;
  color: #000;
  background: #05cdff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.1s linear;
  padding: 5px 8px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
.one-user button:hover {
  transform: scale(1.03);
}